PORT=3001
KALSHI_API_KEY=your_kalshi_api_key_id
KALSHI_API_SECRET=your_kalshi_api_secret
POLYMARKET_TOKEN_ID=your_polymarket_yes_token_id
KALSHI_TICKER=FED-25MAY-T4.00
STALE_THRESHOLD_MS=15000
DISCONNECT_THRESHOLD_MS=45000
USE_DFLOW_FALLBACK=false
